.drawProbability {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 160px;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);

  img {
    width: 30px;
  }
}
