.policy {
  width: 100px;
  aspect-ratio: 12/16;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  img {
    width: 50px;
  }

  span {
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.fasPolicy {
  background-color: rgba(172, 20, 20, 0.2);
  border: 2px solid #ac1414;

  span {
    color: #ac1414;
  }
}

.libPolicy {
  background-color: rgba(51, 138, 198, 0.2);
  border: 2px solid #338ac6;

  span {
    color: #338ac6;
  }
}
